#TTS {
    background-color: #FBB03F;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:90px;
    height:90px;
    font-size: 18px;
    border-radius: 10px;

}

#TI {
    background-color: #6dd674;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width:90px;
    height:90px;
    border-radius: 10px;
}

#TD {
    background-color: #00AEEF;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width:90px;
    height:90px;
    border-radius: 10px;
}

#ZI {
    background-color: #de4c35;  
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width:90px;
    height:90px;
    border-radius: 10px;
}

#ZD {
    background-color: #FFDD17;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width:90px;
    height:90px;
    border-radius: 10px;
}

#RF {
    background-color: #d94ac3;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width:90px;
    height:90px;
    border-radius: 10px;
}

#I {
    background-color: #4d508f;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width:90px;
    height:90px;
    border-radius: 10px;
}

#BW {
    background-color: #a7aaab;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width:90px;
    height:90px;
    border-radius: 10px;
}

#BY {
    background-color: #fce33a;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width:90px;
    height:90px;
    border-radius: 10px;
}

#HC {
    background-color: #12A79D ;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width:90px;
    height:90px;
    border-radius: 10px;
}

#HL {
    background-color: #72D0F4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width:90px;
    height:90px;
    border-radius: 10px;
}
